input[type = "text"]{
    color: red;
    background-color: aqua;
}
input[type = "password"]{
    background-color: pink;
}
/* a[href *= "google"]{
    color:red;
} */
/* a[href ^= "https"]{
    color: green;
} */
a[href $= ".com"]{
    color: yellowgreen;
}